body {
    background: #FFF;
    padding: 0;
    margin: 0;
}

h3 {
    color: #8B7969;
}

.header__logout {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__logout--button {
    width: 100px;
    height: 34px;
    border: none;
    background: rgba(240, 240, 240, 0.6);
    color: #D9C6B5;
    border: 1px solid #D9C6B5;

}

.admin__content {
    margin: 0 auto;
    padding: 30px 15;
    max-width: 1230px;
    min-width: 700px;
}

.search-form__item {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 15px;
    width: 80%;
    height: 40px;
    text-align: center;
}

.search-form__reset {
    height: 40px;
}

.search-form__item--keyword {
    width: 28%;
    padding: 0 1%;
}

.search-form__item--gender {
    width: 8%;
    padding: 0 1%;
}

.search-form__item--category {
    width: 18%;
    padding: 0 1%;
}

.search-form__item--date {
    width: 18%;
    padding: 0 1%;
}

.admin__pagination {
    width: 80%;
    margin:  30px auto 0;
    padding: 0;
}

.admin__pagination ul {
    display: flex;
    justify-content: right;
    margin: 0;
}

.admin__pagination li {
    width: 30px;
    border: 1px solid #D9C6B5;
    text-align: center;
    display: inline-block;
}

.admin__pagination span {
    text-decoration: none;
}

.admin-table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

.admin-table th, td {
    padding:0 10px;
}
.admin-table__header,
.admin-table__row {
    width: 100%;
    height: 50px;
    border: none;
    text-align: left;
}

.admin-table__header {
    background: #8B7969;
    color: #FFF;
}

.admin-table__row {
    border: 1px solid #E0DFDE;
    color: #8B7969;
}

.admin-table__row input {
    border: none;
    color: #8B7969;
}


.admin-table__name {
    width: 20%;
}

.admin-table__gender {
    width: 15%;
}

.admin-table__email {
    width: 30%;
}

.admin-table__category {
    width: 25%;
}

.admin-table__detail {
    width: 10%;
}

.admin-table__row input {
    width: 100%;
}
