body {
    background: #FFF;
    padding: 0;
    margin: 0;
}

h3 {
    color: #8B7969;
}

.header__logout {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.header__logout--button {
    width: 100px;
    height: 34px;
    border: none;
    background: rgba(240, 240, 240, 0.6);
    color: #D9C6B5;
    border: 1px solid #D9C6B5;

}

.admin__content {
    margin: 30px auto;
    padding: 30px 15;
    max-width: 1230px;
    min-width: 700px;
}

.search-form__item {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    margin-bottom: 15px;
    width: 80%;
    height: 40px;
    text-align: center;
    font-size: 14px;
}

.search-form__item--keyword {
    width: 32%;
    padding: 0 1%;
    border: solid 1px #E3DED9;
    background: #F4F4F4;
    color: #8B7969;
}

.search-form__item--gender {
    width: 10%;
    padding: 0 1%;
    border: solid 1px #E3DED9;
    background: #F4F4F4;
    color: #8B7969;
}

.search-form__item--category {
    width: 20%;
    padding: 0 1%;
    border: solid 1px #E3DED9;
    background: #F4F4F4;
    color: #8B7969;
}

.search-form__item--date {
    width: 14%;
    padding: 0 1%;
    border: solid 1px #E3DED9;
    background: #F4F4F4;
    color: #8B7969;
}

.search-form__search-button {
    width: 8%;
    background: #82756A;
    border: solid 1px #8B7969;
    color: #FFF;
}

.search-form__reset {
    height: 40px;
    background: #D9C6B5;
    color: #FFF;
    border: solid 1px #D9C6B5;
}

.admin__pagination {
    width: 80%;
    margin:  30px auto 0;
    padding: 0;
}

.admin__pagination ul {
    display: flex;
    justify-content: right;
    margin: 0;
}

.pagination .page-item .page-link {
    background-color: #FFF;
    border: solid 1px #E0DFDE;
    color: #8B7969;
}

.pagination .page-item .page-link:hover {
    background-color: #8B7969;
    color: #FFF;
}

.admin-table {
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}

.admin-table th, td {
    padding:0 10px;
}
.admin-table__header,
.admin-table__row {
    width: 100%;
    height: 50px;
    border: none;
    text-align: left;
}

.admin-table__header {
    background: #8B7969;
    color: #FFF;
}

.admin-table__row {
    border: 1px solid #E0DFDE;
    color: #8B7969;
}

.admin-table__row input {
    border: none;
    color: #8B7969;
}


.admin-table__name {
    width: 20%;
}

.admin-table__gender {
    width: 15%;
}

.admin-table__email {
    width: 30%;
}

.admin-table__category {
    width: 25%;
}

.admin-table__detail {
    width: 10%;
}

.admin-table__row input {
    width: 100%;
}

.btn-custom {
    background: #F4F4F44D;
    border: solid 1px #D9C6B599;
    color: #D9C6B5;
}

.btn-custom:hover,
.btn-custom:active,
.btn-custom:focus {
    background: #F4F4F44D !important;
    border: solid 1px #D9C6B599 !important;
    color: #D9C6B5 !important;
}
