body {
    background: #ede8e3;
    padding: 0;
    margin: 0;
}

h3 {
    color: #8B7969;
}

.header__login {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    border: 1px solid #D9C6B5;
    background: rgba(240, 240, 240, 0.6);
}

.header__login a {
    text-decoration: none;
    color: #D9C6B5;
}

.register__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.register-box {
    width: 50%;
    min-width: 600px;
    height: 650px;
    background: #fff;
    border: solid 1px #C5B9B0;
    margin: 0 auto;
    position: relative;
}

.register-box__inner {
    width: 60%;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

.register-box__inner--input {
    width: 100%;
    height: 55px;
    background: #F4F4F4;
    color: #8B7969;
    border: none;
    margin-bottom: 30px;
}

.register-button {
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

.register-button--submit {
    width: 120px;
    height: 46px;
    border: none;
    background: #8B7969;
    color: #FFF;

}